.shape {
    display: flex;
    flex-shrink: 0;
    align-items: flex-end;
    border-radius: 0.5rem;
    height: 5rem;
    --tw-bg-opacity: 1;
    background: #0070fe;
    padding: 1rem;
    @media (min-width: 768px) {
            height: 13rem;
    }
}